*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  background-color:#333;
}

.toggle-nav:hover{
  color:#fff;
}
text:hover{
  border-bottom: 2px solid rgb(25,135,84);
}
.content{
  margin-left: 200px;
  text-transform:uppercase;
}
.container{
  display:flex;
  justify-content: space-around;
  align-items: center;
}
.text-light{
  text-decoration: none;
}
.contents{
  padding:20px;

}
.contents h1{
  font-size:100px;
}

.image>img{
  border-radius:50%;
  border-bottom:0.7px solid rgb(25,135,84);
  /* border-top: none;
  border-top-right-radius: none;
  border-top-left-radius: none; */
}



.about{
  padding-left:20px;

}

Button{
  float:right;
  margin-right:50px;
  border:1px solid rgb(25,135,84);
  /* width:200px; */
}
.text{
  padding-top:100px;
  width:600px;

}
.skills{
  margin-top: 150px;
  color:#fff;
}
.skills .icons{
  width:200px;
  height:70px;
  background-color:black;
  border:none;
  border-radius:10px;
  color:rgb(25,135,84);
  font-size:20px;
  
}
.skills .icons p{
  /* padding:30px; */
  margin-top:20px;
  text-align:right;

}
.skills .icons{
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.skills .icon{
  color:orangered;
  font-size:35px;
  text-align:left;
  

}
.skills  .icon2{
  color:blue;
  font-size:35px;
  
  

}
.skills .icon3{
  color:red;
  font-size:35px;
  text-align:center; 

}
.skills .icon4{
  color:rgb(70, 62, 215);
  font-size:35px;
  text-align:center;
}
.progress{
  width:300px;
}

.us{
  display:flex;
  align-items:center;
  justify-content:space-around;
  color:#fff;
}
.us h1{
  text-align:center;
  font-size:55px;
}
 .us .form{
display:flex;
flex-direction:column;
justify-content: space-around;
margin-top:10px;

}
.us input{
  width:350px;
  height:50px;
  margin-top:15px;
  background: transparent;
  
}
.us #text{
  margin-top:15px;
  margin-left:45px;
  background: transparent;
}


.us button{
  margin-top:15px;
  margin-left:55px;
  width:200px;
  height:50px;
  font-size:20px;
  background-color:rgb(25,135,84);
  border:none;
  border-radius:10px;
  color:#fff;

}
.projects{
  color:#fff;
}
.projects h1{
  font-size:25px;
}
.footer{
  color:#fff;
}
.division{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding: 20px 50px;
}
.division p{
  font-size:15px;
}
.socials a{
  color:#fff;
  padding:0px 10px;
  font-size:25px;
}
.socials a:hover{
  color:rgb(25,135,84);
}



