*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  background-color:#333;
}

.toggle-nav:hover{
  color:#fff;
}
text:hover{
  border-bottom: 2px solid rgb(12, 52, 12);
}
.content{
  margin-left: 200px;
  text-transform:uppercase;
}
.container{
  display:flex;
  justify-content: space-around;
  align-items: center;
}
.contents{
  padding:20px;

}
.about{
  padding-left:20px;

}
Button{
  float:right;
  margin-right:50px;
  border:none;
  /* width:200px; */
}
.text{
  padding-top:100px;
  width:600px;

}
